#main {
    background: #445;
    color: #FFF;
    margin: 0;
}

#main {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 100%, transparent),
        url(https://img.freepik.com/free-vector/abstract-background-with-topographic-lines_1048-7459.jpg?t=st=1745756066~exp=1745759666~hmac=abfe2f7f9a1d311344ca7b04d72224eb1dae2b97f85c90edbdbaea4d4ecde092&w=1060);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ",
        Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 5rem;
    display: inline-block;
    padding: 1rem;
    font-weight: 900;
    position: relative;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.5s ease, opacity 1s ease;
    color: #93DAFE;
}

.is-loading h1 {
    transform: scale(0.9);
    opacity: 0;
}

h1:before,
h1:after {
    height: 4px;
    width: 100%;
    content: "";
    background: #ffffff;
    display: block;
    position: absolute;
    transition: width 0.4s ease;
    transition-delay: 0.8s;
}

h1:before {
    top: 0;
    left: 0;
}

h1:after {
    bottom: 0;
    right: 0;
}

.is-loading h1:before,
.is-loading h1:after {
    width: 0;
}

/* ...existing code... */

/* ...existing code... */
.tagline {
    font-size: 1.25rem;
    margin: 20px 0;
    color: #ffffff;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
	margin-top: -20px;
	transition: background-color 0.3s ease, opacity 1s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.2s; 
}

.is-loading .tagline {
    opacity: 0;
    transform: translateY(20px);
  }

.get-started-btn {
    background-color: #ffffff;
    color: #152238;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, opacity 1s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.2s; /* Appears after the title animation completes */
  }
    
  .get-started-btn:hover {
    background-color: #93DAFE;
	color: black;
  }
  
  .is-loading .get-started-btn {
    opacity: 0;
    transform: translateY(20px);
  }